/*=============== chat section ============================= */
.chat-section-app {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

.chat-profile-section {
  display: block;
  position: relative;
  padding: 5px;
  width: 30%;
  height: calc(100vh - 60px);
  overflow: auto;
  border-right: 2px solid #000;
}
.chat-profile-section::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.chat-section {
  display: block;
  position: relative;
  width: 70%;
}

.messages-container {
  padding: 0 10px;
  display: block;
  position: relative;
  height: calc(100vh - 120px);
  padding-bottom: 50px;
  background-color: #444;
}

/* components  */
