/*=============== chat section ============================= */

/*left chat **/
.left-chat {
  flex: 1;
  padding: 0 20px;
}

.left-chat-close {
  flex: 0;
}

.right-chat {
  flex: 0;
  display: none;
}
.right-chat-open {
  flex: 1;
  display: block;
}

@media screen and (min-width: 900px) {
  .left-chat {
    flex: 0.5;
    padding: 0;
  }
  .right-chat {
    display: block;
    flex: 1;
  }
  .left-chat-close {
    flex: 0.5;
  }
  .right-chat-close {
    flex: 1;
  }
}

.chat-profile-section {
  display: block;
  position: relative;
  padding: 5px;
  width: 30%;
  height: calc(100vh - 60px);
  overflow: auto;
  border-right: 2px solid #000;
}
.chat-profile-section::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.chat-section {
  display: block;
  position: relative;
}

.messages-container {
  width: 100%;
  padding: 0 10px;
  display: block;
  position: relative;
  height: calc(100vh - 120px);
  padding-bottom: 50px;
}

/* components  */
.chat-open {
  width: 100%;
  background-color: #3334;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdf;
}
