.register__terms {
  display: flex;
  color: #def;
  width: 100%;
  justify-content: center;
}
.register__terms div {
  color: #def;
  margin-left: 1em;
}
.register__terms a {
  color: #7cf;
}
.register__checkbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #099;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}
.register__checkbox-checked-bg {
  background-color: #099;
}
.register__checkbox-checked-bg::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(#7f8);
  background-color: #fff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(1);
}

/* input error  */

.register__input-error {
  color: #f99;
  font-size: 0.7em;
  margin: 5px 0 0 5px;
  height: 0.8em;
}
.register__server-error {
  margin-top: 4px;
  color: #f44;
  text-align: center;
  font-weight: bold;
}
